/* General Styles */

html {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica";
  color: white;
  background-color: #eace6a;
}

span {
  font-size: 2rem;
  display: block;
  font-family: Georgia, Sans Serif;
  font-weight: bold;
  color: firebrick;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.black-font {
  color: black;
  padding: 0.2rem 0;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.container-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box {
  border: 2px pink solid;
}

/* Logo Banner Styles */

.logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 6rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

/* Image Feature Styles */

.image-feature {
  width: 100%;
  height: 25rem;
  background-image: url("https://thumbs.dreamstime.com/b/young-emirati-arab-couple-dining-restaurant-dubai-marina-66060264.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.feature-text {
  width: 20rem;
  height: 6rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  margin-top: 14rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#blink_text {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/* Nav Bar Styles */

.nav-background {
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;
}

nav span,
.dropdown-content a {
  text-decoration: none;
  color: white;
  padding: 0.75rem 0;
  text-align: center;
}

nav span {
  display: inline-block;
}

.dropdown-content a {
  display: block;
}

.nav-menu {
  width: 100%;
  position: relative;
  display: inline-block;
}

.menu-btn {
  display: none;
  background-color: firebrick;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  width: 100%;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: khaki;
  width: 100%;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: hsl(0, 67.93%, 61.56%);
}

/* Main Content Styling */

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  border: 4px solid firebrick;
  margin: 3rem 0;
}

.product-img {
  height: 12rem;
  width: auto;
  margin: 2rem 0;
}

.product-text {
  background-color: white;
  color: firebrick;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: Helvetica;
}

.glasses {
  width: 9rem;
  height: auto;
  margin: auto 0;
}

.store-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.location-hours {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  text-align: center;
  align-items: center;
  color: white;
  font-family: Helvetica;
}

/* Footer Styles */

.footer {
  height: 5rem;
  justify-content: center;
  align-items: flex-start;
}

.container-footer,
span {
  color: white;
  padding-top: 0.5rem;
}

/* Big Screen Styles */

@media only screen and (min-width: 1024px) {
  /* General */
  .container {
    width: 100%;
  }
  /* Navbar */
  nav {
    display: block;
    width: 100%;
  }
  .fullsize-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  /* Main Content */
  .catalog-item {
    width: 47%;
  }
  .catalog-item:nth-of-type(3) {
    display: none;
  }
}


/* Tablet Styles */

@media only screen and (max-width: 1024px) {
  /* General */
  .container {
    width: 100%;
  }
  /* Navbar */
  nav {
    display: block;
    width: 100%;
  }
  .fullsize-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  /* Main Content */
  .catalog-item {
    width: 47%;
  }
  .catalog-item:nth-of-type(3) {
    display: none;
  }
}

/* Phone Styles */

@media only screen and (max-width: 470px) {
  /* General */
  .container-row {
    justify-content: center;
    flex-wrap: wrap;
  }
  /* Title and Image */
  h4 {
    font-size: 0.77rem;
  }
  h3 {
    font-size: 1rem;
  }
  .image-feature {
    height: 15rem;
  }
  .feature-text {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 10rem;
  }
  /* Main Content */
  .catalog-item {
    width: 90%;
  }
  .catalog-item:nth-of-type(2) {
    display: none;
  }
  .store-info {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  /* Footer */
  .footer {
    align-items: center;
  }
}

/* Inscription Form */

input[type=text],
input[type=password] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
}

button:hover {
  opacity: 0.5;
}

/* Extra styles for the cancel button */

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
  float: center;
  width: 50%;
}

/* Add padding to container elements */

.container {
  padding: 16px;
}

/* Clear floats */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
